* {
    padding: 0;
    margin: 0;
}
.App {
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

main {
    min-height: 100vh;

}
header {
    background-color: aqua;
}

footer {
    background-color: brown;
}

main {
    background-color: antiquewhite;
}
aside {
    background-color: blue;
    max-width: 25%;
    min-height: 300px;
    color: aliceblue;
    padding: 1%;
}
nav {
    display: flex;
    align-items: start;
    flex-direction: column;
}

a {
    color: aliceblue;
}

button {
    font-size: 2rem;
}

span {
    border: 1px solid black;
    padding: 6px;
    background-color: brown;
    color: wheat;
    width: 30px;
    height: 30px;
}
.acc {
    width: 30%;
}
.acc__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}